@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbf8f3;
  --foreground: #0f3d4c;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
